@model TheMasterProject.Models.DealerRegisterViewModel
@{
    ViewBag.Title = "DealerRegister";
    Layout = "~/Views/Shared/_SBAdminLogin.cshtml";
}

<style>
    .validation-summary-errors ul,li {
        list-style: none;
        margin:0;
        padding-left:0;
    }
</style>
@using (Html.BeginForm("DealerRegister", "Account", FormMethod.Post, new { @class = "user" }))
{
    @Html.AntiForgeryToken()

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5" style="max-width:650px;margin-left:auto;margin-right:auto">
            
            <div class="card-body p-0">
               
                <div class="row">

                    <div class="col-lg-12">
                        <div class="p-5">
                            @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                            {
                                <div id="diverrorMessage" class="alert alert-warning" role="alert">
                                    @Html.ValidationSummary(true, "")
                                </div>
                            }
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-user", @placeholder = "First Name" })
                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger", style = "font-size:0.8em" })

                                    </div>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-user", @placeholder = "Last Name" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @placeholder = "Email Address", @type = "email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", style = "font-size:0.8em" })

                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control form-control-user", @type = "number", @placeholder = "Phone Number" })
                                    @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger", style = "font-size:0.8em", @id = "vmMobileNo" })
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Password" } })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", style = "font-size:0.8em" })

                                    </div>
                                    <div class="col-sm-6">
                                        @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Repeat Password" } })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger", style = "font-size:0.8em" })

                                    </div>
                                </div>
                                <input type="submit" value="Register Account" id="btnsubmit" class="btn btn-primary btn-user btn-block">


                                <hr>

                            </form>


                            <div class="text-center">
                                <a class="small" href="@Url.Action("Login","Account")">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}



@section Scripts{
<script>
    $("#diverrorMessage").fadeTo(5000, 500).slideUp(500, function () {
        $("#diverrorMessage").slideUp(500);
    });
</script>    
    
}


