@model TheMasterProject.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_SBAdminMaster.cshtml";

}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "user" }))
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin-top:30px">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">User Registration</h5>
                </div>
                <div class="card-body">
                    @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                    {
                        <div id="diverrorMessage" class="alert alert-warning" role="alert">
                            @Html.ValidationSummary(true, "")
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.LastName, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.Gender, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.Gender, new List<SelectListItem> {
                                   new SelectListItem { Text="Male",Value="M" },
                                   new SelectListItem { Text="Female",Value="F" }
                               }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.CurrentlyLivingIn, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.CurrentlyLivingIn, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CurrentlyLivingIn, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.MobileNo, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.MobileNo, "", new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.MaritalStatus, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.MaritalStatus, new List<SelectListItem> {
                                   new SelectListItem { Text="Married",Value="M" },
                                   new SelectListItem { Text="Unmarried",Value="U" }
                               }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.MaritalStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                @Html.LabelFor(m => m.AadharCard, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.AadharCard, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(m => m.AadharCard, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(m => m.pincode, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.pincode, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(m => m.pincode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(m => m.UserType, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.UserType, new List<SelectListItem> {
                                   new SelectListItem{Text="Manager",Value="1"},
                                   new SelectListItem{Text="Assistant Manager", Value="2"},
                                   new SelectListItem{Text="Team Member", Value="3"},
                                   new SelectListItem{Text="Inbound Team", Value="4"},
                               }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label", @style = "margin:auto" })
                                <div class="col-md-8">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4" style="text-align:right">
                                    <input type="submit" class="btn btn-primary" value="Register" />
                                </div>
                            </div>
                        </div>
                    </div>
                    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@


                </div>
            </div>
        </div>
    </div>

}

<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (ViewBag.Message != null)
{
    <script>
        swal({
            title: "Success!",
            text: "User Registered Successfully!",
            icon: "success",
        });
    </script>
}

@*<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />

<style type="text/css">
    .swal-footer {
        text-align: center;
    }
</style>
<style>
    .validation-summary-errors ul, li {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
</style>
<style>
    .datepicker td, .datepicker th {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 0.85rem;
    }

    .datepicker {
        margin-bottom: 3rem;
    }
</style>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
@section Scripts {

    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="~/Scripts/moment.min.js"></script>
    @*<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>*@
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>


    <script>
        $("#diverrorMessage").fadeTo(5000, 500).slideUp(500, function () {
            $("#diverrorMessage").slideUp(500);
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('.listbox').multiselect({
                includeSelectAllOption: true
            });
        });
        $(document).ready(function () {
            $('#divMember').hide();
            $('#UserType').change(function () {
                var value = $(this).val();
                if (value == '1') {
                    $('#divMember').show();
                }
                else {
                    $('#divMember').hide();
                }
            });
        });

        $('#DateOfBirth').datepicker({
            ignoreReadonly: true,
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
        //$(function () {
        //    $('#DateOfBirth').datetimepicker({
        //        format: 'DD/MM/YYYY',
        //        ignoreReadonly: true
        //    });
        //});
    </script>
}
